{% load static %}
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div
        class="spinner-border text-primary"
        style="width: 3rem; height: 3rem"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Spinner End -->

    
    <!-- Topbar Start -->
    <div class="container-fluid bg-light p-0 wow fadeIn" data-wow-delay="0.1s">
      <div class="row gx-0 d-none d-lg-flex">
        {% for about in About%}
        <div class="col-lg-7 px-5 text-start">
          <div class="h-100 d-inline-flex align-items-center py-3 me-4">
            <small class="fa fa-map-marker-alt text-primary me-2"></small>
            <small>{{about.location}}</small>
          </div>
          <div class="h-100 d-inline-flex align-items-center py-3">
            <small class="far fa-clock text-primary me-2"></small>
            <small>Mon - sat : 06.00 AM - 11.00 PM</small>
          </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
          <div class="h-100 d-inline-flex align-items-center py-3 me-4">
            <small class="fa fa-phone-alt text-primary me-2"></small>
            <small>+91 {{about.number}} </small>
          </div>
          <div class="h-100 d-inline-flex align-items-center">
            {% for link in links%}
            <a class="btn btn-sm-square bg-white text-primary me-1" href="{{link.url}}"
              ><i class="fab fa-{{link.name}}"></i></a>
            {%endfor%}
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <nav
      class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-lg-0 px-4 px-lg-5 wow fadeIn"
      data-wow-delay="0.1s"
    >
      <a href="{% url 'home' %}" class="navbar-brand p-0">
        <img class="img-fluid me-3" src="{% static 'img/icon/icon-10.png' %}" alt="Icon" />
        <h1 class="m-0 text-primary">Zoofari</h1>
      </a>
      <button
        type="button"
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse py-4 py-lg-0" id="navbarCollapse">
        <div class="navbar-nav ms-auto">
          <a href="{% url 'home' %}" class="nav-item nav-link {% if request.path == url %}active{% endif %}">Home</a>
          <a href="{% url 'service'%}" class="nav-item nav-link {% if request.path == url %}active{% endif %}">Services</a>
          {% if user.is_authenticated %}
            <div class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                >Pages</a
              >
              <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                <a href="{% url 'index' %}" class="dropdown-item">Start Test</a>
                <a href="{% url 'results' %}" class="dropdown-item">results</a>
              </div>
            </div>
          {% endif %}
          <a href="{% url 'contact' %}" class="nav-item nav-link {% if request.path == url %}active{% endif %}">Contact</a>
        </div>
        {% if user.is_authenticated %}
          <a href="{% url 'profile'%}" class="btn btn-primary">Hii.. {{user.first_name}}</a>
        {% else %}
        <a href="{% url 'userlogin' %}" class="btn btn-primary"><i class="fa fa-user"></i> <font class="ms-2">Login</font></a>
        {% endif %}
      </div>
    </nav>
    <!-- Navbar End -->

