{% extends 'user/base.html' %}
{% load static %}
{% block title %} Fruitables - Vegetable Website Template {% endblock %}


{% block content %}
    
    <!-- 404 Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="container text-center">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
            <h1 class="mb-4">Profile Not Found</h1>
            <p class="mb-4">
              We’re sorry, your profile is not crated contect to your admin
            </p>
            <a class="btn btn-primary py-3 px-5" href="{% url 'index'%}">Go Back To Home</a>
          </div>
        </div>
      </div>
    </div>
    <!-- 404 End -->
{% endblock %}